#btnOpenCreateForm {
  display: inline-block;
  text-align: right;
  border: none;
  margin:  0;
  padding: 8px 16px;
  background-color: #366fed;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.div-spinner {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
  background-color: white;
  text-align: center;
  line-height: 200px;
}

.spinner-border {
  margin: 15px;
}


.div-table {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ebedef;
}

  .div-table th {
    color: #737b8f;
    font-weight: 500;
  }

  td{
      padding: 13px;
    
  }


  button{
      display:block;
      margin: 10px auto;
  }
