#btnOpenCreateForm {
  display: inline-block;
  text-align: right;
  border: none;
  margin: 0;
  padding: 8px 16px;
  background-color: #1d315f !important;
  border: #1d315f important;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}



.div-table {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ebedef;
}

.div-table th {
  color: #737b8f;
  font-weight: 500;
}

td {
  padding: 13px;

}


button {
  display: block;
  margin: 10px auto;
}


.resultat {
  margin: 15px auto;
  background-color: #c4dccab2;
  padding: 20px;
}