
<div class="div-spinner" *ngIf="resultat!=''" >

  <div *ngIf="resultat=='chargement'" class="d-flex align-items-center justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
    Chargement de la selection du client
  </div>

  <div *ngIf="resultat=='ok'" class="d-flex align-items-center justify-content-center">
    Selection du client avec succès ✅
  </div>

</div>

<div class="div-table">

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th scope="col">Nom</th>
        <th scope="col">Email @</th>
        <th scope="col">Phone</th>
        <th scope="col">Adresse</th>
        <th scope="col"><button id="btnOpenCreateForm" (click)="openCreateForm()">Créer </button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cli of liste">
        <td>
          <input class="form-check-input" type="radio" name="clientSelect" [(ngModel)]="clientSelect" id="radio{{cli.id}}" value={{cli.id}}>
        </td>
        <td><a href="edit-client/{{cli.id}}"> {{ cli['nom'] }} {{ cli.prenom }} </a> </td>
        <td> {{ cli.email }} </td>
        <td> {{ cli.phone }} </td>
        <td> {{ cli.adresse }} </td>
      </tr>

    </tbody>
  </table>
  <button class="btn btn-light" (click)="addNewItem()">Choisir</button>

</div>
