<form (ngSubmit)="login()" autocomplete="off">
  <h1>Login </h1>

  <label>
    Saisissez votre email:<br />
    <input type="email" name="email" class="form-control" [(ngModel)]="email" />
  </label>
  <label>
    Saisissez votre mot de passe:<br />
    <input type="password" name="password" class="form-control" [(ngModel)]="password" />
  </label>

  {{ resultat }}
  <button type="submit" class="btn btn-dark">Se Connecter </button>

  <a href='/register'>Pas de compte?</a>
</form>

<!-- 
<pre>{{ liste | json }}</pre> -->
