<div id="facture" *ngIf="facture">
  <div class="facture-top d-flex align-items-center justify-content-between">
    <app-detail-client [id]="facture.clientId"></app-detail-client>

    <div>
      <h1>FACTURE</h1>
      <p>N° : 000{{facture.id}}</p>
      <p>Date: {{facture.createdAt  | date: 'dd/MM/yyyy'}}</p>
    </div>
  </div>

  <!--<div class="facturetitre">
    <div>{{ facture.titre }} </div>
    <div>{{ facture.informations }} </div>
  </div>-->

  <app-liste-produits [id]="facture.id"></app-liste-produits>

  <div class="total">
    <div>Total TVA : {{ facture.totalTVA}}€ </div>
    <div>Total HT : {{ facture.totalHT }}€</div>
    <div>Total TTC : {{ facture.totalHT + facture.totalTVA}}€</div>

  </div>


</div>
<div class="d-flex align-items-center justify-content-center">
  <a id="a-edit" href="edit-facture/{{facture.id}}">Edit </a> 
  <button class="btn btn-primary">Télécharger </button>


</div>

