<table class="table">

  <tbody>
    <tr>
      <ng-container *ngIf=" !openEditForm_ ; else editTemplate">
        <td> {{ produit.designation }} </td>
        <td> {{ produit.quantite }} </td>
        <td> {{ produit.prixUnitaireHT }} </td>
        <td> {{ produit.tva }} </td>
        <td> <button class="btn btn-primary" (click)="openEditForm()">edit</button></td>
      </ng-container>


      <ng-template #editTemplate>
       
        <td>
          <input type="text" name="designation" class="form-control" [(ngModel)]="produit.designation" />
        </td>
        <td>
          <input type="number" name="quantite" class="form-control" [(ngModel)]="produit.quantite" />
        </td>
        <td>
          <input type="number" name="prixUnitaireHT" class="form-control" [(ngModel)]="produit.prixUnitaireHT" />
        </td>
        <td>
          <input type="number" name="TVA" class="form-control" [(ngModel)]="produit.tva" />
        </td>
        <td>
          <button type="submit" class="btn btn-primary" (click)="edit()">Edit </button>
        </td>
      </ng-template>

    </tr>
  </tbody>
</table>
