form {
  display: block;
  margin: 20px auto;
  width: 500px;
  background-color:white;
  padding:30px;
  border-radius: 12px;
  box-shadow: #d3d3d3 4px 4px 20px;

}

h1 {
  text-align: center;
  margin-bottom: 45px;
  font-size:25px;
}

label, button {
  margin: 15px 0;
  display: block !important;
}

input {
  margin-top: 5px;
}


.div-spinner {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
  background-color:white;
  text-align:center;
  line-height:200px;
}

.spinner-border{
    margin:15px;
}

button[type='submit'] {
  margin-right : 15px;
}

#btnOpenSelectForm {
  text-align: right;
  padding: 5px 10px;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  border: none;
}
