<div class="div-table">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Designation</th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix unitaire </th>
        <th scope="col">Tva</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of liste">
        <td> {{ produit.designation }} </td>
        <td> {{ produit.quantite }} </td>
        <td> {{ produit.prixUnitaireHT }} </td>
        <td> {{ produit['tva'] }} </td>
      </tr>
    </tbody>
  </table>
  </div>
