<form (ngSubmit)="register()" autocomplete="off">
  <h1>Register </h1>

  <div class="row">
    <div class="col">
      <label>
        Saisissez votre nom:<br />
        <input type="text" name="nom" class="form-control" [(ngModel)]="user.Nom">
      </label>
    </div>
    <div class="col">
      <label>
        Saisissez votre prenom:<br />
        <input type="text" name="prenom" class="form-control" [(ngModel)]="user.Prenom">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>
        Saisissez votre email:<br />
        <input type="email" name="email" class="form-control" [(ngModel)]="user.Email">
      </label>
    </div>
    <div class="col">
      <label>
        Saisissez votre mot de passe:<br />
        <input type="password" name="password" class="form-control" [(ngModel)]="user.Password">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>
        Saisissez votre adresse:<br />
        <input type="text" name="adresse" class="form-control" [(ngModel)]="user.Adresse">
      </label>
    </div>
    <div class="col">
      <label>
        Saisissez votre numero de téléphone:<br />
        <input type="text" name="phone" class="form-control" [(ngModel)]="user.Phone">
      </label>
    </div>
  </div>

    <div class="row">
    <div class="col">
      <label>
        Saisissez votre raison social:<br />
        <input type="text" name="raisonSocial" class="form-control" [(ngModel)]="user.RaisonSocial">
      </label>
    </div>
    <div class="col">
      <label>
        Saisissez votre numero de TVA:<br />
        <input type="text" name="ntva" class="form-control" [(ngModel)]="user.NumeroTVA">
      </label>
    </div>
  </div>

      <div class="col">
      <label>
        Saisissez votre SIRET:<br />
        <input type="text" name="siret" class="form-control" [(ngModel)]="user.SIRET">
      </label>
    </div>

  <button type="submit" class="btn btn-dark">S'inscrire </button>


  <div *ngIf="loading" class="div-result" ><p>Chargement...</p></div>

  <div class="div-result" *ngIf="error" style="color:red;">
   <p>{{ error }}</p> 
  </div>

  <div class="div-result" *ngIf="result">
    <p>{{ result }}</p> 
  </div>


</form>
