.div-title {
  margin: 50px 0;
}

#a-add-new-client {
  display: inline-block;
  text-align: right;
  margin: 20px 0;
  padding: 5px 10px;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
}
