
<div class="div-title d-flex align-items-center justify-content-between">
  <h1>Mes Clients</h1>
  <a href="/new-client" id="a-add-new-client">Créer une nouvelle client</a>

</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">NOM</th>
      <th scope="col">PRENOM</th>
      <th scope="col">EMAIL @</th>
      <th scope="col">PHONE</th>
      <th scope="col">ADRESSE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cli of liste">
      <td><a href="edit-client/{{cli.id}}"> {{ cli['nom'] }} </a> </td>
      <td> {{ cli.prenom }} </td>
      <td> {{ cli.email }} </td>
      <td> {{ cli.phone }} </td>
      <td> {{ cli.adresse }} </td>
    </tr>

  </tbody>
</table>

<pre>{{ liste | json }}</pre>
