
<div class="div-title d-flex align-items-center justify-content-between">
  <h1>Mes factures</h1>
  <a href="/new-facture" id="a-add-new-facture">Créer une nouvelle facture</a>

</div>

<div class="div-table">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Designation</th>
        <th scope="col">Titre</th>
        <th scope="col">Totol TTC</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cli of liste">
        <td> <app-nom-client [id]="cli.clientId"></app-nom-client> </td>
        <td> {{ cli.titre }} </td>
        <td> {{ cli.totalTVA + cli.totalHT }}€ </td>
        <td> {{ cli.createdAt | date: 'dd/MM/yyyy' }} </td>
        <td><a href="facture/{{cli.id}}">Aperçu </a> </td>
      </tr>

    </tbody>
  </table>
</div>

<!--<pre>{{ liste | json }}</pre>-->
