<div class="container">
  <h1>Création de facture</h1>

  <div class="progress-bar-etape d-flex justify-content-between">
    <div *ngIf="clientId==0 ">Créer ou Selectionner un Client</div>
    <div class="etape-reussi" *ngIf=" clientId!=0 && clientchoix=='create'">Etape 1 ✅: Client est crée  </div>
    <div class="etape-reussi" *ngIf=" clientId!=0 && clientchoix=='select'">Etape 1 ✅: Client est selectionné </div>

    <div *ngIf=" clientId!=0  && !formProduitIsSubmit">Etape 2: Créer vos produits</div>
    <div class="etape-reussi" *ngIf=" clientId!=0 && formProduitIsSubmit">Etape 2 ✅: Vos produits sont crées</div>

    <div *ngIf="clientId!=0 && formProduitIsSubmit ">Etape 3:Enregistrer votre facture</div>
  </div>

  <div *ngIf="clientId==0 ">
    <app-create-client (selectEvent)="openSelectForm()" *ngIf="clientchoix=='create'" (getClientIDEvent)="getClientId($event)"></app-create-client>
    <app-select-client (createEvent)="openCreateForm()" *ngIf="clientchoix=='select'" (getClientIDEvent)="getClientId($event)"></app-select-client>
  </div>



  <div *ngIf="!formProduitIsSubmit">
    <app-gestion-produits-in-creation-facture *ngIf="clientId!=0" (createFactureEvent)="getProduits($event)">
    </app-gestion-produits-in-creation-facture>
  </div>

  <div id="facture" *ngIf="clientId!=0 && formProduitIsSubmit " class="d-flex flex-column">

    <div class="d-flex factureTop align-items-center justify-content-between">
      <app-detail-client [id]="clientId"></app-detail-client>
      <div>
        <h2>FACTURE</h2>
        <p>N° : 000X</p>
        <p>Date: {{currentDate  | date: 'dd/MM/yyyy'}}</p>
      </div>
    </div>

    <div class="div-table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Designation</th>
            <th scope="col">Titre</th>
            <th scope="col">Totol TTC</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produit of listeProduits">
            <td> {{ produit.designation }} </td>
            <td> {{ produit.quantite }} </td>
            <td> {{ produit.prixUnitaireHT }} </td>
            <td> {{ produit['tva'] }} </td>
          </tr>
        </tbody>
      </table>
    </div>

    <label>
      Saisir le titre :
      <input class="form-control" name="titre" [(ngModel)]="facture.titre" />
    </label>

    <label>
      Saisir les inforations :
      <input class="form-control" name="remarques" [(ngModel)]="facture.remarques" />
    </label>



    <div class="total">
      <div>Total TVA : {{ facture.totalTVA}}€ </div>
      <div>Total HT : {{ facture.totalHT }}€</div>
      <div>Total TTC : {{ facture.totalHT + facture.totalTVA}}€</div>

    </div>


    <button class="btn btn-primary" (click)="save()">Créer votre facture </button>


  </div>

</div>

<!--<pre>{{ listeProduits | json }}</pre>-->
